.navbar {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #266ef3;
    transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.navbar-list {
    background-color: #266ef3;
    position: absolute;
    flex-direction: column;
    list-style: none;
    top:14vh;
    margin-left: 0;
    width: 100vw;
    transform: translateY(-100%);
    transition: .4s;
    visibility: hidden;
}

.navbar-list.active {
    background-color: #266ef3;
    position: absolute;
    flex-direction: column;
    list-style: none;
    top:14vh;
    margin-left: 0;
    width: 100vw;
    transform: translateY(0%);
    visibility: visible;
}

.bottom_animation::after {
    all: unset;
}

.imgPadrao{
    max-width: 50px;
}

.daniel-img{
    max-width: 50px;
}

.home-img{
    max-width: 50px;
}

.imgPadrao-alt {
    max-width: 50px;
}

